:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18a0fb;
    --primary-white-color: #ffffff;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

.logo {
    color: var(--title-text-color);
}

.logo:hover {
    color: var(--accent-color);

}

.site-nav {
    color: #212121;
}

.hero-title   {
      color: #FFFFFF;;
  }

.section-title  {
     color:#212121;
 }